
.item{
    border:1px solid black;
    color:rgb(43, 43, 43);
    background:#e7e7e7;
    padding:25px;
}

.container{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:575px){
     .container {
        flex-direction: column;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    .container {
       flex-direction: column;
   }
}